@charset "utf-8";
/* CSS Document */
*
{
	padding: 0;
	margin: 0;
	line-height: 25px;
	font-size: 12px;
	list-style:none
}
#tabContainer
{
	margin: 30px;
}
#tabContainer li
{
	float: left;
	width: 49.3%;
	margin: 0 3px;
	background: #efefef;
	text-align: center;
}
#tabContainer a
{
	display: block;
	text-decoration: none;
}
#tabContainer li.on
{
	border-bottom: solid 2px #8b0000; 
}
